h1{
    text-align: center;
}


.headers{
    text-align: center;
    font-family: sans-serif;
}
.image{
    display: inline-block;
    text-align: center;
}
img{
    width: 50%;
    height: 100%;
}


p{
    text-align: center;
}

.gaps{
    display: flex;
}